.MainContent {
}

.ContentTitle {
    margin-left: 67px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.01em;
    user-select: none;
}
